---
import SectionLayout from "../../layouts/SectionLayout.astro";
const products = [
  {
    image: "/products/xdj-rx2.png",
    category: "DJ Player",
    name: "XDJ-RX2",
    price: "1999",
  },

  {
    image: "/products/elite-17r.png",
    category: "Sharpie ",
    name: "Elite 17r",
    price: "1999",
  },
  {
    image: "/products/xdj-rx3.png",
    category: "DJ Player",
    name: "XDJ-RX3",
    price: "1999",
  },
];
---

<SectionLayout title="Equipment Rentals" id="rental">
  <div class="grid sm:grid-cols-3 gap-8 mx-auto mt-8 justify-center">
    {
      products.map((p) => (
        <div class="bg-white rounded-lg flex flex-col lg:flex-row p-5 gap-5 align-center h-fit shadow-lg max-w-sm lg:max-w-2xl">
          <div class="sm:h-32 lg:h-auto w-32 flex items-center justify-center mx-auto lg:mx-0">
            <img
              src={p.image}
              alt={p.name}
              class="max-h-[8rem] lg:min-h-[6rem] "
            />
          </div>
          <div class="text-center lg:text-left">
            <span class="uppercase text-xs tracking-widest">{p.category}</span>
            <h3 class="text-3xl font-bold">{p.name}</h3>
            <div>
              <span>&#8377;</span>
              <span class="text-xl font-bold">{p.price}</span>
              <span>/day</span>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <p class="text-center mt-12">
    <a
      href="#contact"
      class="bg-blue-200 rounded inline-flex items-center gap-2 p-2 mr-2 hover:bg-blue-300 transition-colors duration-300"
    >
      <i class="fas fa-phone"></i>
      <span class="font-bold">Contact Us</span>
    </a>
    for more details.
  </p>
</SectionLayout>
